body{
    text-align: center;
    color: white;
    background-color: rgb(163, 163, 163);
    font-family: sans-serif;
    font-weight: bold;
}

.titulo {
    font-size: larger;
   text-align: center;
   color: rgb(248, 222, 222);
   background-color: black;
}

.subtitulo {
    font-family: monospace;
    font-size: 150%;
}
.texto {
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;

}

.text-box {
    margin-left: 44vw;
   margin-top: 42vh;
    display: inline;
}


.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    text-align: center;
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
footer {
   background-color: black;
   color: rgb(233, 222, 222);
}